body{

    margin:0;
    padding:0;
    background:#dcdcdc;
    font-family:Arial, sans-serif;

}

.page{

    width:210mm;
    height:297mm;

    background:white;

    margin:20px auto;

    padding:20mm;

    box-sizing:border-box;

    box-shadow:0 0 15px rgba(0,0,0,.2);

}

.header{

    text-align:center;

    margin-bottom:15px;

}

.header h1{

    margin:0;

    font-size:28px;

}

.header h2{

    margin-top:8px;

    font-size:18px;

    font-weight:normal;

}

.info{

    display:flex;

    justify-content:space-between;

    margin-top:20px;

    margin-bottom:20px;

}

.line{

    border-bottom:2px solid black;

    margin-bottom:15px;

}

.content{

    display:flex;

    gap:25px;

}
.content{

    display:block;

}

.questionCard{

    display:grid;

    grid-template-columns:72% 28%;

    border:2px solid black;

    margin-bottom:10px;

    break-inside:avoid;

}

.questionLeft{

    padding:12px;

    border-right:2px solid black;

}

.questionRight{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:10px;

}

.bubbles{

    display:flex;

    gap:18px;

    margin-top:8px;

    font-size:26px;

}

.labels{

    display:flex;

    gap:28px;

    font-weight:bold;

    font-size:15px;

}

.qno{

    font-weight:bold;

    margin-bottom:10px;

}
.answerBox{

    border:2px solid black;

    padding:10px;

}

.answerBox h3{

    text-align:center;

    margin-top:0;

}

.answerTable{

    width:100%;

    border-collapse:collapse;

}

.answerTable th,
.answerTable td{

    border:1px solid black;

    text-align:center;

    padding:8px;

}

.circle{

    font-size:22px;

    font-weight:bold;

}
.question{

    margin-bottom:25px;

}

.question h3{

    margin:0 0 10px 0;

    font-size:17px;

    line-height:1.4;

}

.option{

    margin-left:20px;

    margin-top:8px;

    font-size:15px;

}